@import url("https://fonts.googleapis.com/css?family=Jura:300,400,500,600,700,900");
body {
  margin: 0;
  font-family: 'Jura';
  overflow: hidden;
}

body #root {
  overflow: hidden;
  background-color: lightgrey;
}

body .body {
  position: absolute;
  left: 30vw;
  display: inline-block;
  width: 70vw;
  height: calc(100vh - 41px);
  overflow-y: auto;
}

@media screen and (min-width: 1000px) {
  body .body {
    width: calc(100vw - 300px);
    left: 300px;
  }
}

body a {
  text-decoration: none;
  color: inherit;
}

body button {
  background: transparent;
  outline: none;
  border: none;
}
