.sidebar {
  position: absolute;
  display: inline-block;
  width: 30vw;
  overflow-y: hidden;
  background-color: #fff;
  box-shadow: -3px 0px 15px 0px grey;
  height: calc(100vh - 40px);
  margin-top: -1px;
  z-index: 99;
}

@media screen and (min-width: 1000px) {
  .sidebar {
    max-width: 300px;
  }
}

.sidebar .banner {
  position: relative;
  width: 100%;
}

.sidebar .banner img.club {
  width: 100%;
}

.sidebar .banner button {
  position: absolute;
  background: #fff;
  color: grey;
  bottom: 15px;
  right: 15px;
  padding: .4vh 1vw;
}

.sidebar .banner img.clubLogo {
  position: absolute;
  width: 20%;
  left: 10%;
  bottom: 0;
  transform: translateY(40%);
}

.sidebar .description {
  display: block;
  width: 70%;
  margin-top: 7vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #6c6c6c;
}

.sidebar .description .club-name {
  font-size: 16px;
  display: block;
  margin: 0 auto;
  line-height: 10px;
  font-weight: 700;
}

.sidebar .description .club-name + small {
  font-size: 11px;
}

.sidebar .description .stats {
  display: block;
  width: 100%;
  margin: 3vh auto 2vh;
}

.sidebar .description .stats .posts, .sidebar .description .stats .followers, .sidebar .description .stats .following {
  width: 30%;
  margin: 1.5%;
  display: inline-block;
}

.sidebar .description .stats .posts span, .sidebar .description .stats .followers span, .sidebar .description .stats .following span {
  display: block;
  font-weight: 700;
}

.sidebar .description button.message {
  width: 100%;
  background: #3b3434;
  padding: 10px;
  color: #fff;
}

.sidebar .description a {
  font-size: 12px;
  display: block;
  margin-top: 4vh;
  color: #1a78bb;
  text-align: left;
}

.sidebar .description div.about {
  margin: 1vh 0;
  text-align: left;
  display: block;
  font-size: 12px;
  overflow: hidden;
}

.sidebar .partners {
  width: 70%;
  margin: 0 auto;
  display: block;
}

.sidebar .partners img {
  display: inline-block;
  width: 100%;
  height: auto;
  margin: 1%;
}
